/*

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

customized by seantis gmbh

*/

body {
	margin: 0;
	padding: 0;
	background: #28313A url(images/img01.jpg) repeat-x left top;
	font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
	color: #5C5C5C;
}

h1, h2, h3 {
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

p, ul, ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}

a {
	color: #1B75A9;
}

a:hover, a:active {
	text-decoration: none;
	color: #1B75A9;
}

a:visited {
	color: #1B75A9;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
} 

.formish-form .inputs textarea {
  width: 300px;
  height: 150px;
}

#wrapper {
	margin: 0;
	padding: 0;
}

/* Header */

#header {
	width: 880px;
	margin: 0 auto;
	height: 60px;
	border: 10px #FFFFFF solid;
}

/* Menu */

#menu {
	float: left;
	width: 880px;
	height: 58px;
	background: url(images/img02.jpg) repeat-x left top;
}

#menu ul {
	margin: 0;
	padding: 23px 0 0 20px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	text-align: center;
}

#menu a {
	display: block;
	padding: 0 50px;
	background: url(images/img03.jpg) no-repeat right 50%;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	color: #FFFFFF;
}

#menu a:hover { 
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

#menu .current a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

/** LOGO */

#logo {
	width: 880px;
	height: 70px;
	margin: 0 auto;
}

#logo h1, #logo h2 {
	float: left;
	margin: 0;
	padding: 20px 0 0 0px;
	line-height: normal;
}

#logo h1 { 
    font-family: Helvetica, sans-serif;
	font-size:38px;
}

#logo h1 a {
	text-decoration: none;
	color: #28313A; 
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
	float: left;
	padding: 38px 0 0 18px;
    font-family: Helvetica, sans-serif;
	color: #666; 
	font-size: 20px;
	
}

#logo p a {
	text-decoration: none;
	color: #28313A;
}

#logo p a:hover { text-decoration: underline; }



/* Page */

#page {
	width: 880px;
	margin: 0 auto;
	background: #FFFFFF;
	border: 10px #FFFFFF solid;
}

/* Content */

#content {
	float: left;
	width: 620px;
	border-right: 1px dashed #DFE1E0;
}

#main_content {
    margin-bottom: 20px;
    padding: 0 20px;
    color: #000;
}

#content h1 {
    color:#28313A;
    font-size:24px;
    padding:0;
    margin: 0 0 0.5em 0;
    width:520px;
}

.controls {
    margin-top: 0.5em;
    text-align: right;
}

.medium-button {
    margin: 1em 0.5em;
    font-weight: bold;
    border-color: #838383 #5F5F5F #5F5F5F #838383;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    cursor: pointer;
    background: #ededed;
}

.button-striking {
    margin: 1em 0.5em;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    border: 1px solid #0A5688;
    background: #0A5688;
    color: #fff !important;
}

/* Table in content */

#content table {
    width: 100%;
    border: 1px solid #ececec;
}

#content table th {
    background: #CFCFCF;
    padding: 0.5em;
}

#content table tr {
    border-bottom: 1px solid #ececec;
}

#content table td {
    padding: 0.5em;
}

#content .even {
    background: #ededed;
}

/* Status messages */

.error, .notice, .success {
    border:2px solid #DDDDDD;
    padding:0.8em;
    margin: 1em;
}

.notice {
    background:#FFF6BF none repeat scroll 0 0;
    border-color:#FFD324;
    color:#514721;
}

.error {
    border-color:#FBC2C4;
    color:#8A1F11;
    background: #FBE3E4;
}

.success {
    background:#E6EFC2;
    border-color:#C6D880;
    color:#264409;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 230px;
	margin: 0;
	padding: 0;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}


#sidebar h2 {
	width: 250px;
	padding: 8px 0 0 0px;
	margin-bottom: 10px;
	/* background: url(images/img07.jpg) no-repeat left top; */
	font-size: 20px;
	color: #28313A; 
}

/* Search */

#search {

}

#search h2 {
	margin-bottom: 20px;
}

#s {
	width: 140px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #DFE1E0;
}

#x {
	padding: 3px;
	border: none;
	background: #0A5688;
	text-transform: lowercase;
	font-size: 11px;
	color: #FFFFFF;
}

/* Boxes */

.box1 {
	padding: 20px;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */
#footer-wrap {
}

#footer {
	width: 880px;
	margin: 0 auto;
	background: #E5E5E5;
	border: 10px #FFFFFF solid;
}

html>body #footer {
	height: auto;
}

#footer p {
	font-size: 12px;
}

#legal {
	clear: both;
	padding-top: 17px;
	text-align: center;
	color: #595959;
}

#legal a {
	font-weight: normal;
	color: #1B75A9;
}

#personal_tools {
    font-weight: bold;
    float: right;
    margin: 45px 20px 0 0;
}

/* Overwrite formish styles */

.formish-form .inputs input {
    width: 300px;
}

.formish-form label {
    text-align: right;
    padding-top: 5px;
}

.widget-dateparts .inputs input {
    width: 50px !important;
    margin-right: 10px;
}

/* special rule for description fields */
.formish-form span {
    display: block;
    margin-top: 5px;
    margin-left: 210px;
}
    

/* styling for the widget containers */

.formish-form {
    padding-top: 15px;
    background: #EDEDED;
}

label {
    color: #000 !important;
}

.widget-container {
    background: #fff;
}

.remove {
    margin-left: 460px !important;
    color: red;
    cursor: pointer;
}

.handle {
    cursor: pointer;
    color: #fff;
    background: #666 !important;
    padding: 7px !important;
}

.adderlink {
    margin-left: 460px !important;
    color: #0A5688;
    cursor: pointer;
    font-weight: bold;
    display: block;
    font-size: 15px;
}

#action-submit, #action-cancel, #action-add {
    margin: 1em 0.5em;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
}

#action-submit, #action-add {
    border-color: #0A5688;
    background: #0A5688;
    color: #fff !important;
    width: 100px;
}

#action-cancel {
    border-color: #838383 #5F5F5F #5F5F5F #838383;
    background: #ededed;
}

#logo-remove {
    display: none;
}

input#logo {
    margin-top: 1em;
    height: 20px;
    width: 100% ;
}

.date {
    font-weight: normal;
}

fieldset {
    border: 1px solid #ccc;
    background: #EDEDED;
    padding: 10px;
    margin: 10px 0;
}

#dateRange {
    margin-left: 260px;
}